[2022-02-08 01:21] VijayanB opened #14 "Release Issue and status tracking for an initial release"
Release .NET client for OpenSearch

- [ ]  Workflow should be green
- [x] remove amazon from copyright message
- [ ]  Add an example to readme
- [x] Do we have integration tests?

[2022-02-08 22:36] guiangumpac opened #16 "Milestone 1 tasks"
- [x]  Delete all older branches < 7.10
- [x]  Delete all released tags
- [x]  Delete main branch(this branch potentially tracks of all 8.x features as well)
- [x]  create main branch from 7.x branch
- [x]  Remove product checker commit if present (this is required to make clients work with oss cluster)
- [x]  Copy template files related to OpenSearch guidelines.
- [x]  Delete docs, examples folde

[2022-02-08 22:37] guiangumpac opened #17 "Milestone 2 tasks"
In this milestone, we focus on cleaning up existing code and make it ready for OpenSearch development

- [x]  Remove X-Pack and non oss features/tests and commits not related to >7.10 from main branch
- [x]  Update CI to run with Opendistro docker image with out security plugin (all tests should pass)
- [x]  Update Admin.md/MAINTAINERS.md to reflect Individual owners
- [x]  Onboard external mainta

[2022-02-08 22:38] guiangumpac opened #18 "Milestone 3 tasks"
In this milestone, we focus on refactoring changes and make it work with OpenSearch 1.0.0 clusters

- [x]  Namespace changes and other refactoring on main branch to support OpenSearch
- [x]  Repo should be made public
- [x]  CI is expected to pass for OpenSearch and OpenDistro with and with out security

[2022-02-08 22:38] guiangumpac opened #19 "Milestone 4 tasks"
In this milestone, we focus on getting ready for the release and setting up branches for future development

- [x]  Add header flags that need to be supported for compatibility
- [x]  fork main branch to 1.0 branch for release, 1.x branch for future releases
- [x]  delete all other unwanted branches
- [x]  Accept either ELASTICSEARCH_URL or OPENSEARCH_URL
- [x]  Add status badge
- [x]  Add simple

[2022-02-09 03:23] yuwindr opened #20 "Does this fork include the high-level NEST library?"
**Is your feature request related to a problem?**
I have a customer who would like to use a high-level client like NEST on OpenSearch.

**What solution would you like?**
A high-level client similar to NEST to be included in this fork.

**What alternatives have you considered?**
NA

**Do you have any additional context?**
Just wanted to confirm if this fork includes high-level client like NEST.

[2022-02-09 19:21] guiangumpac commented on #20
Hi @yuwindr, NEST has been included in this repo and has been renamed to OSC (OpenSearch Client) and can be found in https://github.com/opensearch-project/opensearch-net/tree/main/src/Osc.

[2022-02-10 05:35] yuwindr commented on #20
Thank you for the confirmation @guiangumpac!

[2022-02-10 05:35] #20 closed

[2022-02-21 01:57] jamesdoran opened #25 "Publish Nuget package"
Forgive me if this already exists. I searched for `OpenSearch.Net` on nuget.org but couldn't find it.

## What kind of business use case are you trying to solve? What are your requirements?
An easy way for dotnet people to consume this client project.

**What is the problem? What is preventing you from meeting the requirements?**
Needing to pull down code and include a project reference to use the

[2022-03-18 15:52] anirudha commented on #14
.NET Client

Source code renamed - Feb 4th Done
Unit tests enabled - Feb 11th Done
Integration tests enabled - Mar 22nd - On Track

Abstractions project renamed -  In Progress
Full integration tests - In Progress

Full release of .NET client - Apr 4th -  Not Started

Integration tests passing with security enabled  -  Not Started

Release task checklist  -  Not Started

[2022-03-23 21:56] VachaShah opened #26 "Test and publish compatibility matrix with various OpenSearch versions"
Add support to run integration tests across various versions of OpenSearch and publish a compatibility matrix for the client version vs OpenSearch version.

PR Reference: https://github.com/opensearch-project/opensearch-java/pull/122
Compatibility: https://github.com/opensearch-project/opensearch-java/blob/main/COMPATIBILITY.md

[2022-03-24 02:12] alexmeizer opened #27 "Enable Integration tests"
We have updated fixed and enabled integrations for Opensearch version >= 1.1.0. We plan on working on 1.0.x in accordance with this issue mentioned here: https://github.com/opensearch-project/project-website/issues/737

[2022-03-24 02:15] alexmeizer commented on #14
Here's an issue tracking the integration tests:
https://github.com/opensearch-project/opensearch-net/issues/27

[2022-03-27 22:28] sateesh-pagolu commented on #25
Any ETA on this one, team? Also, did anyone else find an alternative that can be used in the interim?

[2022-03-28 16:35] alexmeizer commented on #25
Hey @jamesdoran, @sateesh-pagolu, I just added two checklists here that are needed for this release (and subsequent nuget package being publish. You can track the individual progress here:

This is to complete the integration tests: https://github.com/opensearch-project/opensearch-net/issues/27
And this is for the full release (with the nuget): https://github.com/opensearch-project/opensearch-net/

[2022-03-28 20:59] jamesdoran commented on #25
Thanks for the update @alexmeizer

[2022-04-01 19:36] VachaShah opened #34 "Breaking changes for 2.0"
Get started with incorporating the breaking changes for 2.0 from OpenSearch 2.0.

To do so:
1. Branch off a 1.x from main if not already done so that development for 2.0 can start on main.
2. Incorporate breaking changes as mentioned in https://github.com/opensearch-project/opensearch-clients/issues/12.
3. Add integ tests support to run against unreleased OpenSearch.

Example PR from java-client:

[2022-04-05 21:36] VachaShah opened #37 "Add auto backport functionality"
Coming from meta issue https://github.com/opensearch-project/opensearch-clients/issues/14:

- [x] Add auto-backport PR creation Github action to make sure all the PRs are backported for a particular release.
- [x] Add auto-delete for merged auto-backport PRs to clean up the branches created during auto-backport.
- [x] Add documentation for the same.

[2022-04-05 23:13] alexmeizer commented on #27
This is completed as part of #36 being merged

[2022-04-05 23:13] #27 closed

[2022-04-06 21:26] #16 closed

[2022-04-06 21:26] guiangumpac commented on #17
CI runs with Opendistro tarball instead of docker

[2022-04-06 21:26] #17 closed

[2022-04-06 21:27] #18 closed

[2022-04-22 12:31] Cris1401 opened #38 "Nuget Packages"
Hello, is this project available at nuget? That would be great. Thanks

[2022-04-23 02:12] MaxKsyunz commented on #38
Hi @Cris1401.

We are working on publishing opensearch .net client on nuget.org. This is tracked under #25.

In the meantime, you can use a release candidate build from [this](https://github.com/opensearch-project/opensearch-net/actions/workflows/release.yml) workflow.

[2022-04-27 18:39] jerpic opened #39 "Disable SSL validation/Verification"
Hello,

Thanks for your great work on that useful project.

Quick question, is there a way to disable SSL validation/verification ?

Best Regards,

[2022-04-27 18:56] jerpic commented on #39
Sorry, I have found the solution :

var config = new ConnectionSettings(node);
                .ServerCertificateValidationCallback(delegate(object o, X509Certificate certificate, X509Chain arg3, SslPolicyErrors arg4) { return true; });

Best Regards

[2022-04-27 18:56] #39 closed

[2022-04-27 18:57] jerpic commented on #39
Sorry, I have found the solution :

var config = new ConnectionSettings(node);
.ServerCertificateValidationCallback(delegate(object o, X509Certificate certificate, X509Chain arg3, SslPolicyErrors arg4) { return true; });

Best Regards

[2022-04-28 19:13] anirudha commented on #14
NuGET accounts are created, tracking release as the next action item

[2022-05-10 13:05] Jubilex commented on #38
What is the best way to include the release candidate nupkg in my project?  It is a lambda project which using github webhooks for CI/CD and Codepipeline to build.  I have found no way, short of hosting a nuget package server of referencing the nupkg in my code locally.  Is there something I am missing?

[2022-05-11 20:04] MaxKsyunz commented on #38
Hi @Jubilex, yes, at the moment your options are to either host the files yourself temporarily or add them to your repository.

[2022-05-18 17:43] TruDan commented on #38
@Jubilex there is another solution, (and its how I currently workaround this issue)

1. Clone/Download a Zip of this repository, you want the contents of "packages" folder somewhere either within your solution's folder, or your somewhere in your system - if it's a git hosted project, obviously within your repo is best. I named my folder "lib".
2. Create/edit a NuGet.config file in the same folder

[2022-05-19 23:10] TruDan commented on #38
I wrote it as I was trying it, after I realised that actually I had to
compile the solution first (from the solution folder, I used `dotnet pack
-o <my_lib_dir>` then I could add the package 'Osc'

On Wed, 18 May 2022, 20:21 Steven Callahan, ***@***.***>
wrote:

[2022-05-19 23:15] VachaShah commented on #37
Closed via #40

[2022-05-19 23:15] #37 closed

[2022-05-20 17:22] CindyKee commented on #14
When are we going to see the .NET clients released to NuGet? It's been 22 days since the last update.

[2022-05-23 18:03] Anishbatajoo opened #44 "IAM credentials to make connection to OS"
Please provide a sample code that shows how to use IAM credentials to make connection to OS using from .NET client.

[2022-05-23 22:31] VachaShah commented on #26
Closed via #43

[2022-05-23 22:31] #26 closed

[2022-05-24 14:39] dblock commented on #44
AFAIK this isn't implemented in the client, contributions welcome!

[2022-06-01 02:52] cray2015 commented on #44
we tried this approach with [elasticsearch-net-aws](https://github.com/bcuff/elasticsearch-net-aws). we were hoping this would work as well but the parameters were not accepted. ultimately had to resort to the internal users. we wanted to implement Document level security while using AWS cognito and OS roles.

[2022-06-01 13:41] LYDE1234 opened #45 "Sample code on how to use ApiKeyAuthentication"
How do you obtain the API key for ApiKeyAuthentication? I can't see a programmatic way in the API. Please provide sample code or point to some if already there.

[2022-06-01 21:18] MaxKsyunz opened #46 "[FEATURE] All NuGet packages to start with OpenSearch prefix."
**Is your feature request related to a problem?**

It is unclear that OSC.* and OpenSearch.* packages are related.

**What solution would you like?**

1. Rename `OSC` to `OpenSearch.Client` and `OSC.JsonNetSerializer` to `OpenSearch.Client.JsonNetSerializer`
2. All namespaces to start with OpenSearch. as well.

[2022-06-02 20:51] gabe4797 commented on #44
@cray2015 I was able to get this to work by basically copying everything from Elasticsearch.Net.Aws in [elasticsearch-net-aws](https://github.com/bcuff/elasticsearch-net-aws) to a new project, and removing the reference to Elasticsearch.Net while adding a reference to OSC (I added the nuget package to my own CodeArtifact repo until released to NuGet [artifacts](https://github.com/opensearch-projec

[2022-06-02 21:17] cray2015 commented on #44
@gabe4797 can you share a working example maybe?

[2022-06-03 16:16] gabe4797 commented on #44
@cray2015 Usage is the same as the elasticsearch-net-aws. You just have to update the reference to yet to be released osc.

[2022-06-03 23:24] MitchellGale-BitQuill commented on #34
Many failed tests on 2.0.

May be a bad connection in one or more places. Below are the test case failures (48). XML attached for detail on each failure.

Running on current dotnet client connecting to OpenSearch 2.0.0.

        <testcase classname="Tests.Search.Search.SearchApiDocValueFieldsTests" name="Tests.Search.Search.SearchApiDocValueFieldsTests.ReturnsExpectedResponse" time="0.0112852">

[2022-06-05 16:04] cray2015 commented on #44
Alright I will try again! thanks for the confirmation. Also can you share your email or any social where I can discuss more on this? I have a few other queries. you will be extremely helpful! so please

[2022-06-08 07:25] cray2015 commented on #38
@TruDan u didnt had to do it. all you had to do was to download the nuget package from the build workflow mentioned in the first thread of this discussion and then add the local location of this package in dotnet nuget sources
`dotnet nuget add source /home/your_username/Downloads/osc_nuget_packages/ -n custom_nuget_packages`
change the source to windows directory style while doing this on windows

[2022-06-09 05:57] jamesdoran commented on #25
Hi guys, it looks like you've released the following 2 packages on nuget.org:
* [OpenSearch.Net](https://www.nuget.org/packages/OpenSearch.Net/)
* [OpenSearch.Net.VirtualizedCluster](https://www.nuget.org/packages/OpenSearch.Net.VirtualizedCluster/)

Thanks very much for your hard work getting these out.

Do you plan on also releasing [`OpenSearch.Net.Client`](https://github.com/opensearch-project

[2022-06-09 21:21] PaulDMendoza commented on #25
I agree. We really need the OpenSearch.Net.Client (OSC) on Nuget. I just pulled down the source code and I get all sorts of errors so I can't compile this easily myself.

![image](https://user-images.githubusercontent.com/1039795/172947020-6a524f4a-a9e1-45cd-8e36-680a36bd78a4.png)

[2022-06-13 04:07] EDTCorey opened #48 "[BUG] System.TypeLoadException thrown on new client initialization"
**What is the bug?**
Using OpensearchClient Version 1.0.0.0
After initializing a client a System.TypeLoadException is thrown.
Message:
`System.TypeLoadException: Type 'OpenSearch.Client.OpenSearchClientFormatterResolver' from assembly 'OpenSearch.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96c599bbe3e70f5d' is attempting to implement an inaccessible interface.`

Occurring in my main p

[2022-06-13 11:44] LYDE1234 opened #49 "Ingesting high-precision datetime"
we're ingesting high-precision timestamps in JSON payloads that look like this:

{"TimeStamp":"2022-06-13T11:19:04.9129902Z","Message":"Title=Cleaning up assembly FrameworkTest.","JobName":"jek 22-06-13T13:17:59 on DKWS-JEK-02","JobNu...

and we're using the "date nanos" format for the timestamp field in OpenSearch but the index data look like this:

timeStamp:Jun 13, 2022 @ 11:38:01.4030000

so o

[2022-06-13 18:16] marosbeno commented on #48
I have exactly the same problem. It does not matter what ConnectionString i use, it always results to this exception.

StackTrace:
[code]

[2022-06-14 09:59] cray2015 commented on #25
@PaulDMendoza its published
https://www.nuget.org/packages/OpenSearch.Net

[2022-06-14 13:39] GenPike commented on #48
Have the same problem, when tried to set JsonNetSerializer explicitly, so needed to replace "Osc" namespaces to "OpenSearch.Net".
StackTrace:
`System.TypeLoadException: Type 'OpenSearch.Client.OpenSearchClientFormatterResolver' from assembly 'OpenSearch.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=96c599bbe3e70f5d' is attempting to implement an inaccessible interface.
   at OpenSearch.

[2022-06-14 13:39] acarbonetto commented on #45
Is there documentation you can refer to, please?  If you're looking for ways to use IAM Authorization in the client, please see: [44](https://github.com/opensearch-project/opensearch-net/issues/44)

[2022-06-14 22:09] PaulDMendoza commented on #25
Thanks!

[2022-06-15 22:30] jamesdoran commented on #25
@cray2015, thanks for this. Nuget is showing:
[code]
The [`Opensearchproject`](https://www.nuget.org/profiles/opensearchproject) profile on nuget shows no listed packages.

Is there an issue with the existing packages?

[2022-06-15 23:05] MaxKsyunz commented on #25
They were unlisted due to #48

[2022-06-15 23:57] jamesdoran commented on #25
OK, thanks for the update @MaxKsyunz

[2022-06-17 01:01] MaxKsyunz opened #52 "[BUG] GHA can fail because nuget fails to verify downloaded packages"
**What is the bug?**
Running `dotnet restore` during GitHub Action fails with errors like
[code]

See [here](https://github.com/opensearch-project/opensearch-net/runs/6925714704?check_suite_focus=true#step:6:11) for a full example.

**What is the expected behavior?**
Workflows on GitHub to succeed.

**What is your host/environment?**
Building using GitHub Actions only..

**Additional Information**

[2022-06-17 11:22] Cris1401 opened #54 "Examples MultiSearch or Join between Indices"
Hello Guys, I saw the User Guide but I have doubts, I would like to know how to use Multisearch or Join between indices, for example, if I have three indices (A,B,C) where there are relations by id's,  and I search from name "A"  (for example) I want to get all index relationships in one call. How could I do? Do you have any examples for that?. Thank you and  I'm sorry for my english :).

[2022-06-22 23:46] EDTCorey commented on #25
How long can we expect before the fix from #48 is merged from pre-release to main and the NuGet packages republished?
Cheers

[2022-06-24 14:54] gabe4797 opened #63 "[FEATURE] Add Fields deserialization to object type when SourceEnabled is false"
**Is your feature request related to a problem?**
When SourceEnabled is false and a list of StoredFields are requested, there is no way to get the object type requested
When I use the client to do a Get document request, I am setting _source to false and specifying the stored fields I want to return. I do not want the _source because there are large contents and even if I exclude them, the server

[2022-07-08 19:01] BaldGuitarist commented on #38
This works great. I'm curious as to when you plan to have the nupkg on nuget?

[2022-07-13 22:15] jamesdoran commented on #25
Related: [OpenSearch-Build/issues/2025](https://github.com/opensearch-project/opensearch-build/issues/2051)

[2022-07-14 16:05] kresimirlesic commented on #34
@VachaShah opensearch 2.1 is already out.

Do you know if there is a timeline when this client should be 2.1 compatible?

[2022-07-14 16:43] acarbonetto commented on #34
@kresimirlesic The 1.0 release of the .NET client is ongoing.  See: https://github.com/opensearch-project/opensearch-build/issues/2051

[2022-07-19 00:00] jaewoo5830 opened #65 "[FEATURE] Add support for AWS SignV4 Request Signer for .NET"
It would be nice to have the support for AWS SignV4 Request Signer for .NET
https://github.com/opensearch-project/opensearch-clients/issues/22

[2022-07-21 19:06] nbpeth commented on #38
terrific - this would be very helpful; will be watching

[2022-07-27 18:40] kolchfa-aws opened #67 "[BUG]Wrong reference to StaticConnectionPool in User Guide"
**What is the bug?**
In the User Guide, StaticConnectionPool is referenced as StaticNodePool.

**How can one reproduce the bug?**
In the User Guide/"Connecting to multiple nodes using a connection pool" section, there is the following line:

var pool = new StaticNodePool(nodes);

**What is the expected behavior?**

It should be:

var pool = new StaticConnectionPool(nodes);

**What is your host/env

[2022-07-27 19:43] dblock commented on #67
Is this in https://github.com/opensearch-project/documentation-website? Feel free to fix!

[2022-07-27 19:49] kolchfa-aws commented on #67
It is not. It is in https://github.com/opensearch-project/opensearch-net/.

[2022-07-28 16:14] #67 closed

[2022-07-28 17:55] dblock commented on #38
Is https://github.com/opensearch-project/opensearch-net/issues/14 a dup?

[2022-07-28 17:55] dblock commented on #19
I think we can close this.

[2022-07-28 17:55] #19 closed

[2022-07-29 18:30] PaulDMendoza commented on #38
What is your definition of "soon"? It's been 2 weeks since you said soon. We really need this package in nuget.

[2022-08-02 04:44] tfarrep opened #69 "[PROPOSAL] Improving the license header check"
## What kind of business use case are you trying to solve? What are your requirements?
I have a PR which adds new files, these files should only have the minimal required SPDX license header.

[code]

**What is the problem? What is preventing you from meeting the requirements?**
The current license header check, strictly checks for a variant of the license header which contains explicit licensing

[2022-08-03 17:29] saratvemulapalli opened #71 "[BUG] Setup branch protection rules"
Setup branch protection rules for this repository inline with opensearch-project.

- Looks like the `main` branch doesn't require approvals.
- Setup CODEOWNERS.md

[2022-08-03 19:10] brendanjeffreymcmahon opened #72 "[BUG] Invalid response on Bulk actions after success"
**What is the bug?**
When making a `bulk` request of any kind (`client.Bulk`, `client.BulkAsync`, `client.BulkAll`), the response is:
[code]
along with a list of "errors", all of which appear to be blank. The actual indexing works, but the response still says "Invalid" for seemingly no reason.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Create a new OpenSearchClient
2.

[2022-08-03 21:45] Yury-Fridlyand commented on #54
Hi @Cris1401,
Try to looking at tests, it could be helpful.
For example, see [MultiSearch API test](https://github.com/opensearch-project/opensearch-net/blob/main/tests/Tests/Search/MultiSearch/MultiSearchApiTests.cs#L89-L114) and [relationship test with docs inside](https://github.com/opensearch-project/opensearch-net/blob/main/tests/Tests/ClientConcepts/HighLevel/Mapping/ParentChildRelationships

[2022-08-03 23:04] VachaShah commented on #71
@saratvemulapalli I added the branch protection rules. Looks like CODEOWNERS file already exists. Is there anything else that is needed?

[2022-08-03 23:06] saratvemulapalli commented on #71
@VachaShah perfect thank you.

[2022-08-03 23:06] #71 closed

[2022-08-05 00:25] tfarrep commented on #69
I'm also curious about what legal situation the generated API code is in, as the template outputs the elasticsearch licensing: https://github.com/opensearch-project/opensearch-net/blob/main/src/ApiGenerator/Views/GeneratorNotice.cshtml#L3-L28

If it's generated does it need to remain licensed to ES? Is the status of the generated code tied to the status of the generator itself?

Potentially a weir

[2022-08-05 17:13] acarbonetto commented on #69
@dblock @VachaShah @anirudha
Would you know the situation about the headers, or know who to drag in?  This seems important and might need to be fixed before we can publish.

[2022-08-06 12:23] dblock commented on #69
I recommend (1).

Looking at https://github.com/opensearch-project/opensearch-net/compare/main...EducationPerfect:opensearch-net:fix/license-header-check?expand=1&w=1 the majority of changes is the formatting of the header, not the actual contents. You don't have to make those, the text is what matters.

<img width="695" alt="Screen Shot 2022-08-06 at 8 22 20 AM" src="https://user-images.githubuse

[2022-08-06 12:25] dblock commented on #69
For now, keep the ES header in all the generated code. It's ok that its source is APLv2 licensed and there's an explicit grant to ES in it. Open a new issue for this, assign to me, and I'll go consult someone?

[2022-08-06 12:27] dblock commented on #38
I am equally frustrated by this situation. Please follow https://github.com/opensearch-project/opensearch-build/issues/2051.

[2022-08-07 21:10] tfarrep commented on #69
The problem is that with approach (1) some of those changes (lines 6-8 in screenshot) are required as it means breaking one block comment into two. Otherwise it'd just be (2).

[2022-08-07 21:15] tfarrep opened #73 "Investigate license status of generated code"
I'm curious about what legal situation the generated API code is in, as the template outputs the elasticsearch licensing: https://github.com/opensearch-project/opensearch-net/blob/1.0.0/src/ApiGenerator/Views/GeneratorNotice.cshtml#L3-L28

If it's generated does it need to remain licensed to ES? Is the status of the generated code tied to the status of the generator itself?

Potentially a weird si

[2022-08-07 21:17] tfarrep commented on #69
I've created a new issue https://github.com/opensearch-project/opensearch-net/issues/73 however I don't have permissions to assign it to anyone.

[2022-08-08 03:33] Yury-Fridlyand commented on #73
The generator wasn't used yet after migration to OpenSearch.

[2022-08-08 13:37] dblock commented on #73
I'm taking this.

[2022-08-08 17:00] #46 closed

[2022-08-08 21:03] anirudha commented on #38
I posted the current status on the release thread, but I also want to acknowledge, and apologize for failing to provide a regular status update earlier. Thank you for your patience.

https://github.com/opensearch-project/opensearch-build/issues/2051#issuecomment-1208606870

[2022-08-08 22:08] acarbonetto opened #74 "1.0 Release with dependabot changes"
Release .NET client 1.0 with the following PR changes:

- [x] https://github.com/opensearch-project/opensearch-net/pull/62
- [x] https://github.com/opensearch-project/opensearch-net/pull/61
- [x] https://github.com/opensearch-project/opensearch-net/pull/60
- [x] https://github.com/opensearch-project/opensearch-net/pull/59
- [x] https://github.com/opensearch-project/opensearch-net/pull/58
- [x] htt

[2022-08-09 00:42] Yury-Fridlyand commented on #74
Track dependabot recommendation for updating `Newtonsoft.Json` in all projects in #75.

[2022-08-09 19:09] Yury-Fridlyand opened #76 "1.1 .Net client release with OpenSearch 2.0 support"
Acceptance criteria
---------------------
- [x] All CI pass
- [x] OpenSearch 2.0 is fully supported
- [x] OpenSearch 1.x is fully supported
- [x] No breaking changes
- [x] Nuget packages are available for download and use

PR to complete
-----------------
- [x] https://github.com/opensearch-project/opensearch-net/pull/93
- [x] https://github.com/opensearch-project/opensearch-net/pull/92
- [x] http

[2022-08-09 19:23] Yury-Fridlyand opened #77 "Use abstractions packages published on nuget"
Dependency:
- [x] https://github.com/opensearch-project/opensearch-net-abstractions/issues/16

Once abstractions release, we should update references to use nuget packages instead of local ones.

[2022-08-09 20:20] MaxKsyunz commented on #77
For context, this will allow us to remove some binaries from this repo.

The packages from [opensearch-project/opensearch-net-abstractions ](https://github.com/opensearch-project/opensearch-net-abstractions) are used in integration tests. At the moment, they are part of the repo.

[2022-08-10 18:56] VachaShah opened #79 "[FEATURE] Automate and document the release process"
**Is your feature request related to a problem?**
Enable any maintainer to do a release by clicking a button.

**What solution would you like?**
Automation and documentation similar to https://github.com/opensearch-project/opensearch-java/blob/main/RELEASING.md#releasing.

**Do you have any additional context?**
We want to release new features (more) often.

[2022-08-10 22:52] MaxKsyunz commented on #38
The packages have been released -- https://www.nuget.org/profiles/opensearchproject

[2022-08-10 22:54] MaxKsyunz commented on #25
The NuGet packages have been published -- https://www.nuget.org/profiles/opensearchproject

Thank you for your patience and understanding.

[2022-08-10 23:24] Yury-Fridlyand commented on #74
Published on nuget: https://www.nuget.org/profiles/opensearchproject
All tests pass: https://github.com/opensearch-project/opensearch-net/actions?query=branch%3Adev-test-nuget-packages
See test reports attached:
[junit-Tests.Reproduce-NETCoreApp50-test-results.xml.txt](https://github.com/opensearch-project/opensearch-net/files/9305075/junit-Tests.Reproduce-NETCoreApp50-test-results.xml.txt)
[junit

[2022-08-10 23:46] Yury-Fridlyand opened #80 "Add readme for nuget packages"
![image](https://user-images.githubusercontent.com/88679692/184041619-8185a616-d912-4ed2-a4a0-97cc50763fd6.png)

Problem **^** Instructions **v**

https://docs.microsoft.com/en-us/nuget/nuget-org/package-readme-on-nuget-org

[2022-08-11 00:24] MaxKsyunz commented on #72
@brendanjeffreymcmahon what version of OpenSearch are you testing against?

I can reproduce this issue against OpenSearch 2.x.

The current client supports OpenSearch 1.x only. Support for 2.x is in progress -- #51.

[2022-08-11 19:00] joshuali925 opened #81 "Update ADMIN.md and remove 1.0, 1.x, 2.x branches"
Issues:

1. Currently Ani and myself are listed in [ADMIN.md](https://github.com/opensearch-project/opensearch-net/blob/main/ADMINS.md#current-admins) but I do not have admin permissions in this repo.

2. `1.0`, `1.x`, `2.x` branches are out of date and might accidentally contain irrelevant commits. We couldn't remove these branches and had to release 1.0.0 client from main branch.

Requesting an

[2022-08-11 20:03] CEHENKLE commented on #81
To confirm:  You want to delete 1.0, 1.x and 2.x branches?

[2022-08-11 20:06] acarbonetto commented on #81
We want to delete and then re-create these branches to match the 1.0.0 release.

[2022-08-11 20:29] VachaShah commented on #81
Looks like I cannot delete them either.

[2022-08-11 20:32] joshuali925 commented on #81
i think you'll need to temporarily unprotect the branches (if you have admin-level permission)

[2022-08-11 20:37] VachaShah commented on #81
Ah right! Just confirming that you want to delete `1.0`, `1.x` and `2.x` branches

[2022-08-11 20:40] joshuali925 commented on #81
Yes that is correct (I do have a few local backup copies just in case). Also could you let us know who should be in ADMINS.md file for this repo? thanks

[2022-08-11 20:45] VachaShah commented on #81
I have deleted the requested branches.

[2022-08-11 20:55] jamesdoran commented on #25
Excellent news! Thanks @MaxKsyunz

[2022-08-11 21:18] Yury-Fridlyand commented on #81
@VachaShah,
Could you delete [dev-test-nuget-packages](https://github.com/opensearch-project/opensearch-net/tree/dev-test-nuget-packages) branch as well? It was used to validate that nuget packages are available for usage.
Thanks

[2022-08-11 22:23] Yury-Fridlyand commented on #74
Released: https://github.com/opensearch-project/opensearch-net/releases/tag/v1.0.0

[2022-08-11 22:23] #74 closed

[2022-08-11 22:42] #38 closed

[2022-08-11 22:42] #25 closed

[2022-08-11 22:43] Yury-Fridlyand commented on #14
.Net client was [released](https://github.com/opensearch-project/opensearch-net/releases/tag/v1.0.0) today and published on [Nuget](https://www.nuget.org/profiles/opensearchproject).

[2022-08-11 22:43] #14 closed

[2022-08-11 22:54] #52 closed

[2022-08-12 23:27] VachaShah opened #82 "[FEATURE] Testing compatibility on different platforms"
### Is your feature request related to a problem?
We test our clients for Linux platform but we do not know if these clients work smoothly on platforms like windows/mac etc.
Coming from https://github.com/opensearch-project/opensearch-clients/issues/18

### What solution would you like?
Test the client with most popular platforms and CPU architectures:

- x64
- ARM
- Linux
- Windows
- MacOS

[2022-08-12 23:41] Yury-Fridlyand commented on #82
I got all unit tests passed on
- Windows x64
- Linux x64
- Mac x64

And they failed on
- Mac ARM

Integration tests passed on
- Linux x64
- Mac x64

Integration doesn't work on Windows.
Rest combinations weren't tested yet.

----
_Information might be outdated, most recent test runs were on Linux x64 only._

[2022-08-12 23:44] VachaShah commented on #82
Thanks @Yury-Fridlyand, it would help to add the different OS in the CI workflow similar to https://github.com/opensearch-project/opensearch-java/pull/208

[2022-08-15 21:02] kolchfa-aws opened #83 "[BUG] Update documentation link in README"
**What is the bug?**
The README file points to the main documentation website. It should point to the specific section for .NET client documentation.

**How can one reproduce the bug?**
N/A

**What is the expected behavior?**
The documentation link should be the .NET client documentation section:
 https://opensearch.org/docs/latest/clients/dot-net/

**What is your host/environment?**
 N/A

**Do yo

[2022-08-15 21:05] kolchfa-aws commented on #83
The specific .net client documentation link is  https://opensearch.org/docs/latest/clients/dot-net/

[2022-08-15 22:13] MaxKsyunz opened #84 "[FEATURE] Help users migrate from ODFE to OpenSearch."
As a user of ElasticSearch/ODFE who would like to migrate to OpenSearch, I would like the steps clearly documented.

### Expected deliverables
1. Compatibility matrix lists which version of ElasticSearch this client is compatible with.
2. Integration tests run against all versions listed in compatibility matrix.
3. There is a document that describes how to migrate from ElasticSearch to OpenSearch.

[2022-08-15 22:21] dblock commented on #73
Still navigating non-technical folks ;)

[2022-08-16 16:27] thespatt commented on #76
Being that 1.0.0 of the .net client does not work with OpenSearch:
![image](https://user-images.githubusercontent.com/7925173/184930555-efa55bb9-74da-4efc-b046-ae328c7682a4.png)
Is there a reason `2.0` isn't more appropriate than `1.1`? I think it would eliminate some confusion.

[2022-08-16 16:43] Yury-Fridlyand commented on #76
It is supposed that next release of the client would have version 1.1. Anyway it will support OpenSearch 2.0. Please, see compatibility matrix in PR #51.
The client version is TBD actually, it could be released as 2.0.

[2022-08-17 00:18] wbeckler commented on #76
@thespatt The logic is that, under semver principles, saying "2.0" means that this client breaks compatibility with 1.0. Instead, it only adds features, so it should be incrememted.

The day might come when a version of the client actually does become incompatible with current working application code. In that case we'd increment the major version as a signal that application builders need to do a

[2022-08-17 21:35] kolchfa-aws commented on #83
Fixed by $85

[2022-08-17 21:35] #83 closed

[2022-08-22 17:51] Yury-Fridlyand opened #86 "[PROPOSAL] Add a developer guide for integration tests and usage of abstractions library"
[Abstractions library](https://github.com/opensearch-project/opensearch-net-abstractions) used in integration tests and it is responsible for downloading, unpacking and installation of OpenSearch cluster.
Updating integration test infrastructure usually requires updates in abstractions, the document to be added should describe how a developer can test and debug abstractions. Default behaviour gett

[2022-08-22 22:19] Yury-Fridlyand opened #87 "[FEATURE] Upload release version to Nuget automatically"
When a release tag is created [1] a workflow should be triggered. It should create packages and upload them to http://nuget.org/.

We will need to confirm that [1] is the correct trigger and setup an API key.

[2022-08-23 22:07] wbeckler commented on #86
For Option 2, does it make sense to jettison the concept of a separate repo, and then there is no more "copying" across code? Without 2 repos, the whole problem goes away, right?

[2022-08-24 00:42] Yury-Fridlyand commented on #86
Right, it is one of the options.

[2022-08-26 01:00] Yury-Fridlyand commented on #80
https://github.com/opensearch-project/opensearch-net/pull/51/commits/8a8b5bbb13f5df909811a69129e0eb1097c393cf

[2022-08-26 02:40] MaxKsyunz commented on #86
This makes sense to me -- abstractions is a set of libraries used for integration tests. There's no need to publish them and it's simple enough to do if necessary.

[2022-08-26 05:17] wbeckler opened #89 "[FEATURE] Add support for inclusive naming"
Add support for inclusive naming by deprecating the master nomenclature.

See meta issue https://github.com/opensearch-project/opensearch-clients/issues/16 for details.

[2022-08-30 17:08] Yury-Fridlyand commented on #89
@wbeckler,
This is already done in scope of #51.
* All `master` references replaced by `cluster_manager`
except
`master` references in API (it is marked as obsolete, but not removed yet) and in comments to these API:
  * `master` node renamed to `cluster_manager` (actually duplicated for BWC with OpenSearch 1.x)
  * `master_timeout` field renamed to `cluster_manager_timeout` (duplicated too)
  * `

[2022-08-31 16:10] CrewTech opened #90 "policies"
how to add policies, via the OS client?

[2022-08-31 17:04] Yury-Fridlyand commented on #90
Hi @CrewTech,
Which types policies do you need? Snapshot Management (`SM`)? Index State Management (`ISM`)? Security rules?

[2022-08-31 22:07] MaxKsyunz opened #91 "[FEATURE] A process to validate RC packages using existing integration tests"
**Is your feature request related to a problem?**
OpenSearch.NET nuget packages are signed by an external service before being published on nuget.org.
Currently there is no easy way to validate those before publishing.

**What solution would you like?**
A way to build and run integration tests using OpenSearch.Net, OpenSearch.Client, etc from a specific directory (i.e., NuGet source).

**What alte

[2022-08-31 23:11] wbeckler commented on #77
Update: the next .net client release is not expected to rely on abstractions as a separate nuget package.

[2022-08-31 23:14] #69 closed

[2022-09-01 07:58] CrewTech commented on #90
Hi, ISM)

[2022-09-01 13:25] CrewTech commented on #90
I'm trying via HttpClient, but I think it's a crutch

[2022-09-06 15:40] harshavamsi commented on #76
@Yury-Fridlyand @MaxKsyunz can you create a `1.1` branch with all commits for release?

[2022-09-06 16:25] Yury-Fridlyand commented on #76
@harshavamsi,
Done: [1.1.0](https://github.com/opensearch-project/opensearch-net/tree/1.1.0)

[2022-09-06 22:34] Yury-Fridlyand commented on #90
The .net client doesn't provide any API for ISM plugin, but it is possible to interact with it.
I successfully created [a sample policy](https://opensearch.org/docs/latest/im-plugin/ism/policies/#sample-policy-with-ism-template-for-auto-rollover) using following code:
[code]
Hope this helps!

[2022-09-08 00:01] saratvemulapalli opened #96 "[FEATURE] Automate bumping versions after releases"
**Is your feature request related to a problem?**
Coming from: https://github.com/opensearch-project/opensearch-net/pull/95#pullrequestreview-1099944501
After every release we have to manually update our versions for the next development. It's quite boring to book keep.

**What solution would you like?**
I would like to us to automate bumping versions when new tags are pushed.
We use scripts in Gi

[2022-09-08 00:10] Yury-Fridlyand commented on #96
https://github.com/elastic/elasticsearch-net/blob/7.17/.github/workflows/make-bump.yml

[2022-09-08 01:33] harshavamsi commented on #96
@saratvemulapalli Thanks for opening this. We should be doing this for all clients, I think it's apt to open an issue in [opensearch-clients](https://github.com/opensearch-project/opensearch-clients). wdyt?

[2022-09-08 01:44] saratvemulapalli commented on #96
💯 I'll transfer this to https://github.com/opensearch-project/opensearch-clients. (Probably different clients will have different implementations).

[2022-09-08 01:59] harshavamsi opened #97 "[FEATURE] Automate bumping versions after releases"
### Is your feature request related to a problem?
Coming from https://github.com/opensearch-project/opensearch-clients/issues/34. The version should be bumped each time a release is made so that builds happen for new changes with appropriate versioning.

### What solution would you like?
Implement workflow similar to https://github.com/opensearch-project/OpenSearch/blob/main/.github/workflows/vers

[2022-09-08 03:43] Yury-Fridlyand commented on #97
Adopt workflow from OpenSearch or from elastic.net https://github.com/elastic/elasticsearch-net/blob/7.17/.github/workflows/make-bump.yml

[2022-09-09 01:47] CrewTech commented on #90
you're the best, thank you!

[2022-09-14 03:05] Xtansia opened #99 "[FEATURE] Standardize, setup, report, and increase test coverage"
Setup code coverage, once reporting from CI/CD analyze the test gap and fill it.

See the meta issue https://github.com/opensearch-project/opensearch-clients/issues/30 for details.

[2022-09-14 03:18] Yury-Fridlyand commented on #99
I did an investigation in this area recently.
My findings so far:
* Tools for testing code coverage in .net:
  * https://code-maze.com/dotnet-code-coverage/
  * https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-code-coverage
  * SonarQube
* Current code coverage is about 20-30%

[2022-09-15 00:10] Xtansia commented on #99
From my past experience with SonarQube/SonarCloud, it does not collect code coverage itself, you'd use something like https://github.com/coverlet-coverage/coverlet or https://www.jetbrains.com/dotcover/ to do the actual collection, and then submit the coverage stats to SonarQube/SonarCloud for reporting and use in quality gates.

It appears the clients and other OpenSearch projects already reporti

[2022-09-15 03:14] Yury-Fridlyand commented on #86
According to the second method it was decided to copy abstractions in .net repo.
Closing, since #92 merged.

[2022-09-15 03:14] #86 closed

[2022-09-15 03:17] Yury-Fridlyand commented on #77
Not relevant since #92 and #86.

[2022-09-15 03:17] #77 closed

[2022-09-15 03:17] #76 closed

[2022-09-15 03:17] Yury-Fridlyand commented on #76
https://github.com/opensearch-project/opensearch-net/releases/tag/v1.1.0

[2022-09-15 03:21] Yury-Fridlyand commented on #48
@EDTCorey, @GenPike, @marosbeno,
Please recheck if it is still relevant and re-open this ticket if needed.
.Net client was re-released recently.

[2022-09-15 03:21] #48 closed

[2022-09-15 03:21] Yury-Fridlyand commented on #34
Fixed in scope of #51

[2022-09-15 03:21] #34 closed

[2022-09-15 03:22] #54 closed

[2022-09-15 03:23] Yury-Fridlyand commented on #72
@brendanjeffreymcmahon,
.Net client v.1.1.0 was released recently, it completely supports OpenSearch 2.0.
Please, re-test and re-open this ticket if it is still relevant.

[2022-09-15 03:23] #72 closed

[2022-09-15 03:24] Yury-Fridlyand commented on #80
Done in scope of #51

[2022-09-15 03:24] #80 closed

[2022-09-16 17:45] #44 closed

[2022-09-16 17:45] #65 closed

[2022-09-21 05:16] VachaShah opened #101 "[FEATURE] Add support for testing against unreleased OpenSearch"
### Is your feature request related to a problem?
With new changes coming in OpenSearch, it is beneficial to actively test clients against them to make sure nothing breaks before a release.

### What solution would you like?
Test client against branches of OpenSearch being developed to prepare clients for a new release.

### What alternatives have you considered?
_A clear and concise description o

[2022-09-23 13:58] prabhdeep-kaur opened #103 "Guidance needed for unit testing nested attributes of Hits"
Hi all,

While I have been unsuccessful developing unit tests for fields and hits. I am not able to figure out how to mock a ISearchResponse object when dealing with Fields.

Example:
Like the below code I need to Mock Fields which id of type FieldValues.

  _var people = new List<Person>
      {
          new Person { Id = 1 },
          new Person { Id = 2 },
      };

      var hits = new List<

[2022-09-23 16:03] gabe4797 opened #104 "[BUG] The request signature we calculated does not match the signature you provided with EnableHttpCompression"
### What is the bug?
When using EnableHttpCompression, an IndexRequest with large content > 1MB fails with 403 The request signature we calculated does not match the signature you provided

If I do not enable http compression, the request is successful.

[code]

### How can one reproduce the bug?
[code]

### What is the expected behavior?
Request should be successful.

### What is your host/enviro

[2022-10-04 03:42] Xtansia commented on #104
@gabe4797 Would you be able to elaborate on which OS and .NET version you're encountering this with? As at first attempt I'm unable to reproduce this on MacOS/.NET6

[2022-10-04 20:21] Xtansia commented on #104
@gabe4797 Curious, there is another report here based on the Python client with the same issue that also suggests it could be something AWS internal https://github.com/aws-samples/siem-on-amazon-opensearch-service/issues/297#issuecomment-1261468591

[2022-10-05 16:48] harshavamsi commented on #89
@wbeckler @Yury-Fridlyand can we close this?

[2022-10-05 17:43] #89 closed

[2022-10-05 18:08] gabe4797 commented on #104
@Xtansia I had changed my node type from small to large. It sounds like that may be a similar issue.

[2022-10-12 22:26] gabe4797 commented on #104
I am no longer able to reproduce this issue.

[2022-10-12 22:26] #104 closed

[2022-10-13 17:12] jonathantsao opened #110 "Can't find 'OpenSearch.Net.Auth.AwsSigV4` package on Nuget"
### What is the bug?
Unable to find the package `OpenSearch.Net.Auth.AwsSigV4` on Nuget

### How can one reproduce the bug?
Started a new C# .NET6.0 console project and run `dotnet add package OpenSearch.Net.Auth.AwsSigV4`. Output is
[code]

### What is the expected behavior?
Expected to find the package.

### What is your host/environment?
Mac M1

[2022-10-13 17:25] Yury-Fridlyand commented on #110
It is not released yet, unfortunately. You can track release progress in https://github.com/opensearch-project/opensearch-build/issues/2635.

[2022-10-13 17:25] #110 closed

[2022-10-20 02:03] greenpau opened #112 "[BUG] OpenSearch.Net.Auth.AwsSigV4 not available"
### What is the bug?

The documentation says that the following works:

[code]

However, there is not such package on nuget.org.

As the result, the code samples with signing also don't work.

https://github.com/opensearch-project/opensearch-net/blob/main/USER_GUIDE.md#opensearchnetauthawssigv4

[2022-10-20 02:05] Yury-Fridlyand commented on #112
It is not released yet, unfortunately. You can track release progress in https://github.com/opensearch-project/opensearch-build/issues/2635.

See also #110

[2022-10-20 02:05] #112 closed

[2022-10-20 02:12] greenpau commented on #112
@Yury-Fridlyand , thank you for a quick reply 👍

[2022-10-20 16:30] harshavamsi opened #113 "Release v1.2.0"
Adding a release checklist and linking infra issue.

## All CI pass

- [X]  OpenSearch 2.0 is fully supported
- [X]  OpenSearch 1.x is fully supported

## Release Process
https://github.com/opensearch-project/opensearch-net/blob/main/RELEASING.md

- [X] ~~Cut release to infra team~~ Opened https://github.com/opensearch-project/opensearch-build/issues/2635
- [X]  Release branch created for 1.2.0 re

[2022-10-20 16:31] harshavamsi commented on #113
@MaxKsyunz @Yury-Fridlyand could you help create the release branches and tag? We want to release this early next week.

[2022-10-20 18:10] #84 closed

[2022-10-20 18:21] Yury-Fridlyand commented on #113
@harshavamsi,
Please, see new tag [v1.2.0](https://github.com/opensearch-project/opensearch-net/releases/tag/v1.2.0) and new branch [1.2.0](https://github.com/opensearch-project/opensearch-net/tree/v1.2.0).
You can get compiled binaries from [CI workflow](https://github.com/opensearch-project/opensearch-net/actions/workflows/release.yml).

[2022-10-20 18:39] harshavamsi commented on #113
Thank you very much for the quick turn-around on this!

[2022-10-25 12:42] greenpau opened #116 "[BUG] Could not create an instance of type OpenSearch.Client.BulkResponseItemBase"
### What is the bug?

When deserializing response body to `BulkResponse` I get he below error.

[code]

The body when deserialized to `object` looks as follows:

[code]

### How can one reproduce the bug?

[code]

### What is the expected behavior?

It should deserialize to `BulkResponse` object.

[2022-11-01 22:42] harshavamsi commented on #113
Closing as 1.2.0 is released.

[2022-11-01 22:42] #113 closed

[2022-11-03 13:10] EDTCorey opened #119 "[BUG] TrackTotalHits does not allow integer input"
### What is the bug?
When searching, the _TrackTotalHits_ only allows a true / false input, rather than a integer as per Rest Api document.
The opensearch dashboard allows a integer input

### How can one reproduce the bug?
Enter an integer into the _TrackTotalHits_ field within a Search method.

### What is the expected behavior?
A explicit value is able to be set on _TrackTotalHits_

### What is

[2022-11-10 11:02] LYDE1234 opened #120 "DeleteByQuery"
Do you have any good examples of how to use DeleteByQuery? I'm not sure how to write a query that deletes from an index all documents whose 'start' field is greater than a specific cutoff date?

[2022-11-10 12:04] LYDE1234 commented on #120
I ended up with this but it would still be nice to have some documentation or examples of fluent syntax in OS queries - the order of clauses and uses of ranges and query strings isnt clear to me:

                var deleteResponse = OpenSearchClient.DeleteByQuery<T>
                ((descriptor =>
                        descriptor
                            .Index(indexName)

[2022-11-11 09:10] LYDE1234 commented on #120
When I run the above, I get "query is missing" - I'm at a loss why; this is usually because of extra newline in the query but that cant be the case here?

![image](https://user-images.githubusercontent.com/61789499/201306289-ba17be83-9d02-4696-947b-32ba92579be7.png)

[2022-11-14 11:57] wbeckler commented on #45
The OpenSearch server doesn't have this feature yet: https://github.com/opensearch-project/security/issues/1504

[2022-11-23 02:18] Xtansia commented on #120
I haven't successfully reproduced this issue you're having, are you able to share a complete minimal example that does exhibit the error? Also more information about the setup would be handy ie. local vs hosted/managed OpenSearch, basic vs AwsSigV4 authentication, request compression, any proxy in use such as mitmproxy or Fiddler?

On the documentation & examples front, this is a known gap and som

[2022-11-23 03:32] Xtansia commented on #116
@greenpau The `"matches": null` is almost certainly a red-herring, as you're using Newtonsoft.Json to attempt to serialize the response object which is not properly annotated for serialization by Newtonsoft, so it's getting confused by the polymorphism. This also explains why your attempt to use `StringResponse` & `JsonConvert.DeserializeObject` fails.

If you were to debug & step-through, or othe

[2022-11-23 04:03] #116 closed

[2022-11-23 04:19] greenpau commented on #116
Thank you, @Xtansia  !